<div class="container mt-4 mb-4 col-md-4">
  <h4>Register</h4>
  <hr class="mb-4">
    <div class="login-container">

      <div class="alert alert-success alert-dismissible fade show" role="alert"
      *ngIf="registerationMessage != null && registerationMessage != '' ">
        <button type="button" class="close" data-dismiss="alert" >ok</button>
      {{registerationMessage}}
      </div>
      <!--  -->
    <form [formGroup]="userForm" (ngSubmit) = "register()">
        <div class="mb-3">
          <label for="exampleInputUsername" class="form-label">User name</label>
          <input type="text" formControlName="userName"
          [ngClass]="{'is-invalid' : !this.userForm.get('userName')!.valid && this.userForm.get('userName')!.touched}"
          class="form-control" id="exampleInputUsername" (blur)="isUserNameExist()">
          <div class="text-danger" *ngIf="!this.userForm.get('userName').valid && this.userForm.get('userName').touched" >{{messageValidate.userName.required}}</div>

          <div class="text-danger" >{{messageValidate.userName.usernameMatch}}</div>

        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" formControlName="email"
             [ngClass]="{'is-invalid' : !this.userForm.get('email')!.valid && this.userForm.get('email')!.touched}"
             class="form-control" id="exampleInputEmail1" (blur)="isEmailExist()">
            <div class="text-danger" *ngIf="this.userForm.get('email').errors?.required && this.userForm.get('email').touched" >{{messageValidate.email.required}}</div>
            <div class="text-danger" *ngIf="this.userForm.get('email').errors?.email" >{{messageValidate.email.notValid}}</div>
            <div class="text-danger"  >{{messageValidate.email.emailMatch}}</div>

          </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" formControlName="password" [ngClass]="{'is-invalid' : this.userForm.get('password')!.invalid
          && (this.userForm.get('password').touched || this.userForm.get('password').dirty)}" class="form-control" id="exampleInputPassword1">

          <div class="text-danger" *ngIf="this.userForm.get('password').touched && this.userForm.get('password').errors?.required" >{{messageValidate.password.required}}</div>
          <div class="text-danger" *ngIf="this.userForm.get('password').errors?.minlength " >{{messageValidate.password.minLength}}</div>

          <div class="text-danger" *ngIf="!isPasswordValid()" >{{messageValidate.password.notMatch}}</div>

        </div>

        <div class="mb-3">
          <label for="passwordConfirm" class="form-label">password confirm</label>
          <input type="password" formControlName="passwordConfirm" [ngClass]="{'is-invalid' : this.userForm.get('passwordConfirm')!.invalid
          && (this.userForm.get('passwordConfirm').touched || this.userForm.get('passwordConfirm').dirty)}" class="form-control" id="passwordConfirm">

          <div class="text-danger" *ngIf="this.userForm.get('passwordConfirm').touched && this.userForm.get('passwordConfirm')?.errors?.required" >{{messageValidate.passwordConfirm.required}}</div>
          <div class="text-danger" *ngIf="this.userForm.get('passwordConfirm').errors?.minlength" >{{messageValidate.passwordConfirm.minLength}}</div>
          <div class="text-danger" *ngIf="isPasswordMatch()" >{{messageValidate.passwordConfirm?.isMatch}}</div>
        </div>


        <button type="submit" class="btn btn-primary"
        [disabled]="userForm.invalid || isPasswordMatch() || isEmailExist() || isUserNameExist()" >Submit</button>
        <div class="alert alert-primary mt-3" role="alert">
          <strong>username : </strong>{{this.userForm.get('userName')!.value }}
        </div>
      </form>

  </div>
  <div class="btn-login mt-4">
       you have account ? <a routerLink ="/login" class="">login</a>
  </div>
</div>
